.Modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.openModal {
    width: 516px;
    height: 250px;
    background-color: #e74c3c;
    color: white;
    position: absolute;
}

.headerOfModal {
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 22px;
    font-weight: 600;
    padding: 20px;
}

.bodyOfModal {
    font-size: 15px;
    text-align: center;
    padding: 30px;
}

.buttonOfModal {
    background-color: rgba(0, 0, 0, 0.2);
    outline: none;
    border: none;
    width: 100px;
    height: 40px;
    text-align: center;
    margin: 0 5px;
    color: white;
    cursor: pointer;

}

.buttons {
    text-align: center;
}

.close {
    position: absolute;
    right: 22px;
    top: 22px;
    width: 32px;
    opacity: 0.3;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }

    &:before,
    &:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 30px;
        width: 2px;
        background-color: #333;
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}