.btn {
    padding: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    color: white;
    outline: none;
    margin-right: 50px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
}